body {
  background-color: #eaf4f4;
  font-family: sans-serif, Arial;
}
#profil {
  text-align: center;
  background-color: #ffffff;
  width: 800px;
  padding: 10px;
  border: 1px solid #7fb3b8;
  margin: 100px;
}

.foto-profil {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2.5px solid #7fb3b8;
}

.nama-profil {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #1c5d6b;
  margin-top: 10px;
}

h1 {
  text-align: left;
  color: #1c5d6b;
}

.kuliah {
  background-color: #ffffff;
  width: 800px;
  padding: 10px;
  border: 1px solid #7fb3b8;
  margin: 100px;
}

.hobi {
  text-align: left;
  background-color: #ffffff;
  width: 800px;
  padding: 10px;
  border: 1px solid #7fb3b8;
  margin: 100px;
}

.kepribadian {
  background-color: #7fb3b8;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}
.kepanitiaan {
  background-color: #7fb3b8;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}
.fun-fact {
  background-color: #7fb3b8;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}

.pesan {
  background-color: #ffffff;
  width: 800px;
  padding: 10px;
  border: 1px solid #7fb3b8;
  margin: 100px;
}

.highlight-reva {
  background-color: #ffd97d;
  font-weight: bold;
}

th,
td {
  border: 1px solid black;
  text-align: center;
}

th {
  background-color: #3d5a45;
  color: white;
}

button {
  background-color: #1c5d6b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #123e48;
}
